<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giovani.perc.mapper.DocMapper">

    <select id="findDocList" parameterType="DocQueryVo" resultType="Doc">
        SELECT * FROM t_doc WHERE docname LIKE '%${docname}%' LIMIT #{start}, #{rows};
    </select>

    <select id="findDocCount" parameterType="DocQueryVo" resultType="int">
        SELECT count(1) FROM t_doc
        <where>
            <if test="docname != null and docname != ''">
                AND docname LIKE '%${docname}%'
            </if>
        </where>
    </select>

    <select id="findDocById" parameterType="Long" resultType="Doc">
        SELECT * FROM t_doc WHERE doc_id = #{doc_id}
    </select>

</mapper>