/*video */
.video-perfect {
    display: inline-block;
    text-align: left;
    width: 80%;
}

.video-perfect video {
    display: inline-block;
}

/* /video */

/* jqueryFlexText Style */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.flex-text-wrap {
    width: 100%;
    position: relative;
    *zoom: 1;
}
textarea,
.flex-text-wrap {
    outline: 0;
    margin: 0;
    border: none;
    padding: 0;
    *padding-bottom: 0!important;
}
.flex-text-wrap textarea,
.flex-text-wrap pre {
    *white-space: pre;
    *word-wrap: break-word;
    white-space: pre-wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.flex-text-wrap textarea {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    resize: none;
    /* IE7 box-sizing fudge factor */
    *height: 94%;
    *width: 94%;
}
.flex-text-wrap pre {
    display: block;
    visibility: hidden;
}
.flex-text-wrap,
textarea { margin-bottom: 25px }
textarea,
.flex-text-wrap pre {
    line-height: 1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    padding: 10px 15px;
    border: 1px solid #c6c8ce;
    width: 100%;
    -webkit-appearance: none;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
    -moz-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
    box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-easing: ease-in-out;
    -moz-transition-easing: ease-in-out;
    -o-transition-easing: ease-in-out;
    -ms-transition-easing: ease-in-out;
    transition-easing: ease-in-out;
    -webkit-transition-property: border-color, -webkit-box-shadow;
    -webkit-transition-property: border-color, box-shadow;
    -moz-transition-property: border-color, -moz-box-shadow;
    -moz-transition-property: border-color, box-shadow;
    -o-transition-property: border-color, box-shadow;
    -ms-transition-property: border-color, box-shadow;
    transition-property: border-color, box-shadow;
}
.fork-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    html {
        background-size: 51px auto;
    }
}
/* /jqueryFlexText Style */

/*----------评论区域 begin----------*/
.comment-show{margin-top: 20px; margin-bottom: 80px;}
.comment-show-con {
    width: 100%;
    border-top: 1px solid #EDEDED;
    padding: 10px 0;
}
.comment-show-con-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.comment-show-con-list {
    width: 85%;
    margin-left: 3%;
}
.pl-text {
    width: 100%;
    margin-top: 7px;
    word-wrap: break-word;
    overflow: hidden;
}
.date-dz {
    width: 100%;
    float: left;
}
.comment-size-name {
    font-size: 18px;
    color: #339b53;
}
.my-pl-con {
    font-size: 18px;
    color: #8b8b8b;
    width: 100%;
}
.date-dz-left {
    font-size: 18px;
    color: #8b8b8b;
    display: block;
    padding-top: 18px;
}
.comment-time, .comment-pl-block {
    padding-top: 7px;
}
.comment-pl-block {
    margin-top: 0;
}
.date-dz-right {
    display: block;
    padding-top: 6px;
    padding-right: 18px;
    position: relative;
    overflow: hidden;
}

.date-dz-pl, .date-dz-line, .date-dz-z {
    font-size: 18px;
    color: #8b8b8b;
}
.date-dz-line {
    display: block;
    padding: 0 20px;
}
.date-dz-z-click-red {
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    background-image: url(../images/icon-all_01.png);
    background-repeat: no-repeat;
    background-position: -6px -198px;
    margin-right: 5px;
}
.z-num {
    font-style: normal;
}

.all-pl-con {
    width: 96%;
    padding: 2% 0;
    float: left;
    margin: 0 2%;
}

.atName {
    font-size: 18px;
    color: #339b53;
}


/*----------评论区域 end----------*/
